@page "{id:int?}"
@model Proiect1.Pages.Aeroporturi.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aeroport[0].Nume_Aeroport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aeroport[0].Oras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aeroport[0].Tara)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AeroportData.Aeroporturi)
        {
            string selectedRow = "";
            if (item.ID == Model.AeroportID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Nume_Aeroport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tara)
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.AeroportData.Zboruri != null)
{
    <h3>Zboruri spre anumite aeroporturi</h3>
    <table class="table">

        @foreach (var item in Model.AeroportData.Aeroporturi)
        {
            string selectedRow = "";
            if (item.ID == Model.AeroportID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">

                <td>
                    @{
                        foreach (var b in Model.AeroportData.Zboruri)
                        {
                            if (b.Destinatie == item.ID)
                            {
                                @b.NrLocuriRezervate @b.DataPlecare
                                <br />

                            }


                        }
                    }
                </td>
            </tr>
        }
    </table>
}
